# Student Aggregation Analysis

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks", color_codes=True)
from statsmodels.graphics.mosaicplot import mosaic
%matplotlib inline

In [2]:
# Importing the Economics Survey data
join_df = pd.read_csv('./data/join.csv')
join_df['Pass'] = np.where(join_df["Final"] >= 0.68, "Yes", "No")
join_df['Class'] = join_df['Class'].astype(int).astype(str)
join_df['Year'] = join_df['Year'].astype(int).astype(str)
join_df['Taste'] = join_df['Taste'].astype(int)
join_df['Price'] = join_df['Price'].astype(int)
join_df['Nutrition'] = join_df['Nutrition'].astype(int)
join_df['Presentation'] = join_df['Presentation'].astype(int)
join_df['Height'] = join_df['Feet']*12 + join_df['Inches']
join_df['BMI'] = (join_df['Weight'] / (join_df['Height']**2))*703
join_df.head()

,id,School,Gender,Race,Local,Full Time,Future,Effectiveness,Online Supplement,Supplement Use,...,Parents Overweight,Final,Attend,Year,Semester,Class,Platform,Pass,Height,BMI
0,68968,Diablo Valley College,Male,Asian,Local Student,Full time,Very helpful,Very effective,Very helpful,Somewhat difficult,...,No,0.812520,0.791667,2016,Spring,101,Aplia,Yes,69.0,22.148708
1,46998,Diablo Valley College,Female,Asian,Local Student,Full time,Somewhat helpful,Somewhat effective,Somewhat helpful,Not too difficult,...,Not sure,0.640884,1.000000,2016,Spring,101,Aplia,No,64.0,27.460938
2,79024,Diablo Valley College,Female,African American,Local Student,Full time,Somewhat helpful,Somewhat effective,Somewhat helpful,Somewhat difficult,...,No,0.681216,1.000000,2016,Spring,101,Aplia,Yes,69.0,22.148708
3,28231,Diablo Valley College,Male,White,Local Student,Part time,Somewhat helpful,Somewhat effective,Somewhat helpful,Somewhat difficult,...,No,0.878339,1.000000,2016,Spring,101,Aplia,Yes,72.0,33.902392
4,85016,Diablo Valley College,Male,Asian,Local Student,Full time,Not too helpful,Not too effective,Somewhat helpful,Somewhat difficult,...,No,0.501591,0.920000,2016,Spring,102,Aplia,No,71.0,25.102162

In [3]:
# Create the Obese column
join_df['Obese'] = ""
for i in range(len(join_df["BMI"])):
    if join_df["BMI"][i] < 18.5:
        join_df['Obese'][i] = "Under Weight"
    elif join_df["BMI"][i] < 25.1:
        join_df["Obese"][i] = "Normal"
    elif join_df["BMI"][i] < 30.1:
        join_df["Obese"][i] = "Over Weight"
    else:
        join_df["Obese"][i] = "Obese"
        
join_df.head()

C:\Users\lokma\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lokma\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\lokma\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lokma\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,id,School,Gender,Race,Local,Full Time,Future,Effectiveness,Online Supplement,Supplement Use,...,Final,Attend,Year,Semester,Class,Platform,Pass,Height,BMI,Obese
0,68968,Diablo Valley College,Male,Asian,Local Student,Full time,Very helpful,Very effective,Very helpful,Somewhat difficult,...,0.812520,0.791667,2016,Spring,101,Aplia,Yes,69.0,22.148708,Normal
1,46998,Diablo Valley College,Female,Asian,Local Student,Full time,Somewhat helpful,Somewhat effective,Somewhat helpful,Not too difficult,...,0.640884,1.000000,2016,Spring,101,Aplia,No,64.0,27.460938,Over Weight
2,79024,Diablo Valley College,Female,African American,Local Student,Full time,Somewhat helpful,Somewhat effective,Somewhat helpful,Somewhat difficult,...,0.681216,1.000000,2016,Spring,101,Aplia,Yes,69.0,22.148708,Normal
3,28231,Diablo Valley College,Male,White,Local Student,Part time,Somewhat helpful,Somewhat effective,Somewhat helpful,Somewhat difficult,...,0.878339,1.000000,2016,Spring,101,Aplia,Yes,72.0,33.902392,Obese
4,85016,Diablo Valley College,Male,Asian,Local Student,Full time,Not too helpful,Not too effective,Somewhat helpful,Somewhat difficult,...,0.501591,0.920000,2016,Spring,102,Aplia,No,71.0,25.102162,Over Weight

In [ ]:
join_df["Exercise Time"].value_counts()

In [ ]:
# Cleaning the categorical data
for i in range(len(join_df["Race"])):
    if join_df["Race"][i] == "Black or African American":
        join_df["Race"][i] = "African American"
    elif join_df["Race"][i] == "Other":
        join_df["Race"][i] = "Others"
    elif join_df["Full Time"][i] == "Full-Time Student":
        join_df["Full Time"][i] = "Full time"
    elif join_df["Full Time"][i] == "Part-Time Student":
        join_df["Full Time"][i] = "Part time"
    elif join_df["Exercise per Week"][i] == "2 - 4 days a week":
        join_df["Exercise per Week"][i] = "2 to 4 days a week"
    elif join_df["Exercise per Week"][i] == "5 - 7 days a week":
        join_df["Exercise per Week"][i] = "5 to 7 days a week"
    elif join_df["Exercise Time"][i] == "over an hour":
        join_df["Exercise Time"][i] = "Over an hour"
    else:
        next
join_df.head()

In [4]:
join_df.columns

Index(['id', 'School', 'Gender', 'Race', 'Local', 'Full Time', 'Future',
       'Effectiveness', 'Online Supplement', 'Supplement Use', 'Feet',
       'Inches', 'Weight', 'Exercise per Week', 'Exercise Time', 'Read Label',
       'Taste', 'Price', 'Nutrition', 'Presentation', 'Appearance', 'Health',
       'Parents Overweight', 'Final', 'Attend', 'Year', 'Semester', 'Class',
       'Platform', 'Pass', 'Height', 'BMI', 'Obese'],
      dtype='object')

In [5]:
# Create contingency table to show students' preference on food purchase
t = join_df["Taste"].value_counts(sort=True)
p = join_df["Price"].value_counts(sort=True)
pr = join_df["Presentation"].value_counts(sort=True)
n = join_df["Nutrition"].value_counts(sort=True)

In [6]:
print(t)
print(p)
print(n)
print(pr)

1    502
2    306
3    214
4    205
Name: Taste, dtype: int64
2    398
3    327
1    319
4    183
Name: Price, dtype: int64
3    392
2    341
4    263
1    231
Name: Nutrition, dtype: int64
4    576
3    294
2    182
1    175
Name: Presentation, dtype: int64

In [7]:
pref = join_df[["Taste", "Price", "Presentation", "Nutrition"]]
pref.head()

   Taste  Price  Presentation  Nutrition
0      1      2             4          3
1      3      1             2          4
2      1      2             4          3
3      1      2             3          4
4      1      2             3          4

In [8]:
pref = pref.melt(var_name='Preferences', value_name='Ranks')
pref.head()

  Preferences  Ranks
0       Taste      1
1       Taste      3
2       Taste      1
3       Taste      1
4       Taste      1

In [9]:
cross_table = pd.crosstab(index=pref['Ranks'], columns=pref['Preferences'])
cross_table

Preferences  Nutrition  Presentation  Price  Taste
Ranks
1                  231           175    319    502
2                  341           182    398    306
3                  392           294    327    214
4                  263           576    183    205

In [10]:
join_df.corr()

,id,Feet,Inches,Weight,Taste,Price,Nutrition,Presentation,Final,Attend,Height,BMI
id,1.000000,-0.008081,0.029631,-0.024919,0.012235,-0.009166,0.031050,-0.033202,0.055993,0.016369,0.005920,-0.012643
Feet,-0.008081,1.000000,-0.310509,0.384391,0.027594,0.011431,-0.044471,0.002984,0.024339,-0.015611,0.888384,-0.156093
Inches,0.029631,-0.310509,1.000000,0.063837,-0.026942,-0.037804,0.033275,0.031456,0.003700,-0.020808,0.160556,-0.010821
Weight,-0.024919,0.384391,0.063837,1.000000,-0.004844,-0.017147,0.024969,-0.002573,-0.011215,-0.090167,0.429964,0.735993
Taste,0.012235,0.027594,-0.026942,-0.004844,1.000000,-0.201162,-0.399576,-0.459385,0.040165,0.000065,0.015640,-0.019504
Price,-0.009166,0.011431,-0.037804,-0.017147,-0.201162,1.000000,-0.369118,-0.378397,0.016281,0.060849,-0.006389,-0.027599
Nutrition,0.031050,-0.044471,0.033275,0.024969,-0.399576,-0.369118,1.000000,-0.188665,-0.054629,-0.011801,-0.030106,0.025370
Presentation,-0.033202,0.002984,0.031456,-0.002573,-0.459385,-0.378397,-0.188665,1.000000,-0.004832,-0.045646,0.018291,0.021826
Final,0.055993,0.024339,0.003700,-0.011215,0.040165,0.016281,-0.054629,-0.004832,1.000000,0.235558,0.027059,-0.026410
Attend,0.016369,-0.015611,-0.020808,-0.090167,0.000065,0.060849,-0.011801,-0.045646,0.235558,1.000000,-0.026259,-0.075957
Height,0.005920,0.888384,0.160556,0.429964,0.015640,-0.006389,-0.030106,0.018291,0.027059,-0.026259,1.000000,-0.168927
BMI,-0.012643,-0.156093,-0.010821,0.735993,-0.019504,-0.027599,0.025370,0.021826,-0.026410,-0.075957,-0.168927,1.000000

In [47]:
pd.get_dummies(join_df).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227 entries, 0 to 1226
Data columns (total 86 columns):
id                                               1227 non-null int64
Feet                                             1227 non-null float64
Inches                                           1227 non-null float64
Weight                                           1227 non-null float64
Taste                                            1227 non-null int32
Price                                            1227 non-null int32
Nutrition                                        1227 non-null int32
Presentation                                     1227 non-null int32
Final                                            1227 non-null float64
Attend                                           1227 non-null float64
Height                                           1227 non-null float64
BMI                                              1227 non-null float64
School_City College of San Francisco             1227 non-null uint8
School_Diablo Valley College                     1227 non-null uint8
School_San Francisco State University            1227 non-null uint8
School_University of San Francisco               1227 non-null uint8
Gender_Female                                    1227 non-null uint8
Gender_Male                                      1227 non-null uint8
Race_African American                            1227 non-null uint8
Race_Asian                                       1227 non-null uint8
Race_Hispanic                                    1227 non-null uint8
Race_Others                                      1227 non-null uint8
Race_White                                       1227 non-null uint8
Local_International Student                      1227 non-null uint8
Local_Local Student                              1227 non-null uint8
Full Time_Full time                              1227 non-null uint8
Full Time_Part time                              1227 non-null uint8
Future_Not related                               1227 non-null uint8
Future_Not too helpful                           1227 non-null uint8
Future_Somewhat helpful                          1227 non-null uint8
Future_Very helpful                              1227 non-null uint8
Effectiveness_Not too effective                  1227 non-null uint8
Effectiveness_Somewhat effective                 1227 non-null uint8
Effectiveness_Struggle learning in this class    1227 non-null uint8
Effectiveness_Very effective                     1227 non-null uint8
Effectiveness_Very helpful                       1227 non-null uint8
Online Supplement_Not helping at all             1227 non-null uint8
Online Supplement_Not too helpful                1227 non-null uint8
Online Supplement_Somewhat helpful               1227 non-null uint8
Online Supplement_Very helpful                   1227 non-null uint8
Supplement Use_No problem at all                 1227 non-null uint8
Supplement Use_Not too difficult                 1227 non-null uint8
Supplement Use_Somewhat difficult                1227 non-null uint8
Supplement Use_Very difficult                    1227 non-null uint8
Exercise per Week_2 to 4 days a week             1227 non-null uint8
Exercise per Week_5 to 7 days a week             1227 non-null uint8
Exercise per Week_I don't regularly exercise     1227 non-null uint8
Exercise per Week_Once a week                    1227 non-null uint8
Exercise Time_10 - 20 minutes                    1227 non-null uint8
Exercise Time_20 - 30 minutes                    1227 non-null uint8
Exercise Time_30 - 40 minutes                    1227 non-null uint8
Exercise Time_40 - 50 minutes                    1227 non-null uint8
Exercise Time_Over an hour                       1227 non-null uint8
Read Label_Always                                1227 non-null uint8
Read Label_Never                                 1227 non-null uint8
Read Label_Not too often                         1227 non-null uint8
Read Label_Often                                 1227 non-null uint8
Read Label_Sometime                              1227 non-null uint8
Appearance_No                                    1227 non-null uint8
Appearance_Yes                                   1227 non-null uint8
Health_No                                        1227 non-null uint8
Health_Yes                                       1227 non-null uint8
Parents Overweight_No                            1227 non-null uint8
Parents Overweight_Not sure                      1227 non-null uint8
Parents Overweight_Yes                           1227 non-null uint8
Year_2016                                        1227 non-null uint8
Year_2017                                        1227 non-null uint8
Year_2018                                        1227 non-null uint8
Year_2019                                        1227 non-null uint8
Semester_Fall                                    1227 non-null uint8
Semester_Spring                                  1227 non-null uint8
Class_101                                        1227 non-null uint8
Class_102                                        1227 non-null uint8
Platform_Achieve                                 1227 non-null uint8
Platform_Aplia                                   1227 non-null uint8
Platform_Canvas                                  1227 non-null uint8
Platform_EconLab                                 1227 non-null uint8
Platform_LaunchPad                               1227 non-null uint8
Platform_Sapling                                 1227 non-null uint8
Platform_iLearn                                  1227 non-null uint8
Pass_No                                          1227 non-null uint8
Pass_Yes                                         1227 non-null uint8
Obese_Normal                                     1227 non-null uint8
Obese_Obese                                      1227 non-null uint8
Obese_Over Weight                                1227 non-null uint8
Obese_Under Weight                               1227 non-null uint8
dtypes: float64(7), int32(4), int64(1), uint8(74)
memory usage: 184.7 KB

In [49]:
join_df = pd.get_dummies(join_df)
join_df.head()

,id,Feet,Inches,Weight,Taste,Price,Nutrition,Presentation,Final,Attend,...,Platform_EconLab,Platform_LaunchPad,Platform_Sapling,Platform_iLearn,Pass_No,Pass_Yes,Obese_Normal,Obese_Obese,Obese_Over Weight,Obese_Under Weight
0,68968,5.0,9.0,150.0,1,2,3,4,0.812520,0.791667,...,0,0,0,0,0,1,1,0,0,0
1,46998,5.0,4.0,160.0,3,1,4,2,0.640884,1.000000,...,0,0,0,0,1,0,0,0,1,0
2,79024,5.0,9.0,150.0,1,2,3,4,0.681216,1.000000,...,0,0,0,0,0,1,1,0,0,0
3,28231,6.0,0.0,250.0,1,2,4,3,0.878339,1.000000,...,0,0,0,0,0,1,0,1,0,0
4,85016,5.0,11.0,180.0,1,2,4,3,0.501591,0.920000,...,0,0,0,0,1,0,0,0,1,0

In [52]:
X = join_df[['Attend', 'Gender_Male', 'Semester_Spring',
            'Platform_Achieve', 'Platform_iLearn']]
y = join_df["Final"].values.reshape(-1, 1)
print(X.shape, y.shape)

(1227, 5) (1227, 1)

In [54]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
fit = model.fit(X, y)

In [57]:
fit.coef_

array([[ 0.22302256,  0.00859217,  0.00581467,  0.10430718, -0.03138801]])

In [59]:
N = len(X)
p = len(X.columns) + 1  # plus one because LinearRegression adds an intercept term

X_with_intercept = np.empty(shape=(N, p), dtype=np.float)
X_with_intercept[:, 0] = 1
X_with_intercept[:, 1:p] = X.values

In [64]:
import statsmodels.api as sm
ols = sm.OLS(y, X_with_intercept)
ols_result = ols.fit()
ols_result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.150
Model:                            OLS   Adj. R-squared:                  0.147
Method:                 Least Squares   F-statistic:                     43.09
Date:                Thu, 25 Jun 2020   Prob (F-statistic):           5.52e-41
Time:                        23:04:32   Log-Likelihood:                 833.93
No. Observations:                1227   AIC:                            -1656.
Df Residuals:                    1221   BIC:                            -1625.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.5723      0.018     31.266      0.000       0.536       0.608
x1             0.2230      0.020     11.115      0.000       0.184       0.262
x2             0.0086      0.007      1.216      0.224      -0.005       0.022
x3             0.0058      0.007      0.782      0.434      -0.009       0.020
x4             0.1043      0.010     10.896      0.000       0.086       0.123
x5            -0.0314      0.014     -2.193      0.028      -0.059      -0.003
==============================================================================
Omnibus:                      125.610   Durbin-Watson:                   1.777
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              207.390
Skew:                          -0.707   Prob(JB):                     9.24e-46
Kurtosis:                       4.434   Cond. No.                         11.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""